Repository DiamondLightSource/dls-pmac-control: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, flake8, lockfile

black:
  name: Run black
  stages:
  - commit
  language: system
  entry: black --check --diff

flake8:
  name: Run flake8
  stages:
  - commit
  language: system
  entry: flake8

lockfile:
  name: Create requirements.txt
  stages:
  - commit
  language: system
  entry: sh -c 'pip freeze > requirements.txt && sed -i /.*dls_pmaccontrol.*/d requirements.txt && if [ "$(git diff requirements.txt)" ] ; then echo WARNING requirements.txt UPDATED.; fi'
  verbose: true

testing requirements.txt
  requirements.txt
  setup.cfg
Due: lockfile

move requirements.txt generation to CI
  .github/workflows/code.yml
  .pre-commit-config.yaml
  requirements.txt
Due: none

switch to setuptoolsSCM
  .devcontainer/devcontainer.json
  .gitattributes
  .gitignore
  setup.cfg
  setup.py
  src/dls_pmaccontrol/__init__.py
  src/dls_pmaccontrol/_version_git.py
Due: black, flake8, lockfile

deploy: 0c7039a7c9e78699edadadbf333e3f2bf714bce5
  v3.0.1-beta2/.buildinfo
  v3.0.1-beta2/.doctrees/environment.pickle
  v3.0.1-beta2/_static/documentation_options.js
  v3.0.1-beta2/explanations.html
  v3.0.1-beta2/explanations/why-is-something-so.html
  v3.0.1-beta2/gather.html
  v3.0.1-beta2/genindex.html
  v3.0.1-beta2/gui.html
  v3.0.1-beta2/how-to.html
  v3.0.1-beta2/how-to/accomplish-a-task.html
  v3.0.1-beta2/index.html
  v3.0.1-beta2/installation.html
  v3.0.1-beta2/introduction.html
  v3.0.1-beta2/objects.inv
  v3.0.1-beta2/reference.html
  v3.0.1-beta2/reference/contributing.html
  v3.0.1-beta2/search.html
  v3.0.1-beta2/tutorials.html
  v3.0.1-beta2/tutorials/installation.html
  v3.0.1-beta2/watches.html
Due: none

dont parallel tox
  .github/workflows/code.yml
Due: none

fix pip update and mypy
  .github/workflows/code.yml
  src/dls_pmaccontrol/__init__.py
Due: black, flake8

deploy: 53a0c717d17b99367a3f64291ddb081343ed05c3
  v3.0.1-beta2/.doctrees/environment.pickle
Due: none

deploy: 2dac1c68afb6f422e43b90ea1921c4d2343857fe
  v3.0.1-beta3/.doctrees/environment.pickle
Due: none

deploy: 6f702a9e6f8877ecb5343cdf64a83cf8545412cc
  v3.0.1-beta3/.doctrees/environment.pickle
Due: none

fix code.yml
  .github/workflows/code.yml
  requirements.txt
Due: none

deploy: 88aecb7b143bd6658b6ceea7927e8399d1051314
  v3.0.1-beta3/.doctrees/environment.pickle
Due: none

deploy: dacd38b031a8808ec1fbb7bf2d4eb561d9df7141
  v3.0.1-beta3/.doctrees/environment.pickle
Due: none

switch dls-pmac-lib dependency to a commit hash instead of zip
  setup.cfg
Due: lockfile

deploy: 6d536dc5d8987cb031b246506d6224af4fa04711
  v3.0.1-beta3/.doctrees/environment.pickle
Due: none

switch dls_pmaclib to pypi
  .devcontainer/devcontainer.json
  setup.cfg
Due: lockfile

deploy: ae1b1739177ed8cf84bcda3f8bcf6a99c9b3f9e9
  v3.0.1-beta3/.doctrees/environment.pickle
Due: none

fetch depth 1
  .github/workflows/code.yml
Due: none

add container build to CI
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  .github/workflows/code.yml
  RELEASE.txt
  docs/installation.rst
  setup.cfg
Due: lockfile

deploy: 45f8c609529019f25ef63e2cef47f38f2a9ab957
  v3.0.1-beta3/.doctrees/environment.pickle
  v3.0.1-beta3/.doctrees/installation.doctree
  v3.0.1-beta3/_sources/installation.rst.txt
  v3.0.1-beta3/installation.html
Due: none

fix runtime container entrypoint
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  .github/workflows/code.yml
  MANIFEST.in
Due: none

adding requirements files
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  .github/workflows/code.yml
  requirements.txt
  requirements_dev.txt
Due: none

use GITHUBENV for calculated env var
  .github/workflows/code.yml
Due: none

fix "this_package" env in code.yml
  .github/workflows/code.yml
Due: none

Create codeql-analysis.yml
  .github/workflows/codeql-analysis.yml
Due: none

improving docker build
  .devcontainer/Dockerfile
  .github/workflows/code.yml
Due: none

tidy code.xml
  .github/workflows/code.yml
Due: none

tidy CI
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  .github/workflows/code.yml
  .github/workflows/docs.yml
  .github/workflows/linkcheck.yml
  setup.cfg
Due: lockfile

remove setup.py, fix URLS
  CONTRIBUTING.rst
  README.rst
  pyproject.toml
  setup.cfg
  setup.py
Due: black, flake8, lockfile

remove lockfiles
  requirements.txt
  requirements_dev.txt
Due: none

Fix setuptools_scm config
  pyproject.toml
Due: none

fix code.yml
  .github/workflows/code.yml
Due: none

deploy: 5df0e9519a9fe8e3cff8d22f84d4edcba5abe7c2
  v3.0.1-beta4/.doctrees/environment.pickle
  v3.0.1-beta4/.doctrees/reference/contributing.doctree
  v3.0.1-beta4/reference/contributing.html
Due: none

Update .github/workflows/code.yml
  .github/workflows/code.yml
Due: none

remove builder field from make-container
  .github/workflows/code.yml
Due: none

remove file permissions change in code.xml
  .github/workflows/code.yml
Due: none

Path conditions:
  black: any of: \.py$
  flake8: any of: \.py$
  lockfile: any of: setup.*
