Repository DiamondLightSource/dls-pmac-control: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, flake8, lockfile

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
      - id: check-added-large-files
      - id: check-yaml
      - id: check-merge-conflict

  - repo: local
    hooks:
      - id: black
        name: Run black
        stages: [commit]
        language: system
        entry: black --check --diff
        types: [python]

      - id: flake8
        name: Run flake8
        stages: [commit]
        language: system
        entry: flake8
        types: [python]

      - id: lockfile
        name: Create requirements.txt
        stages: [commit]
        language: system
        entry: 
          sh -c 'pip freeze > requirements.txt && 
          sed -i /.*dls_pmaccontrol.*/d requirements.txt &&
          if [ "$(git diff requirements.txt)" ] ; then echo WARNING requirements.txt UPDATED.; fi'
        files: setup.*
        verbose: true

attempt to pin DLS compatible pyqt
  Pipfile.lock
  setup.cfg
Due: lockfile

Add brick status requests to PowerPMAC cmd string and parse the response (see ticket BC-1450)
  src/dls_pmaccontrol/commsThread.py
  src/dls_pmaccontrol/motor.py
Due: black, flake8

Add motor amplifier status requests to PowerPMAC cmd string and parse the response (see ticket BC-1450)
  src/dls_pmaccontrol/commsThread.py
  src/dls_pmaccontrol/motor.py
Due: black, flake8

Add motor amplifier status requests to TurboPMAC cmd string (see ticket BC-1450)
  src/dls_pmaccontrol/commsThread.py
  src/dls_pmaccontrol/motor.py
Due: black, flake8

Parse the amplifier status requests from both Turbo and Power PMACs (see ticket BC-1450)
  src/dls_pmaccontrol/motor.py
Due: black, flake8

Add indicators for i2t and over current faults to the GUI and set them motor.py (see ticket BC-1450)
  src/dls_pmaccontrol/formControl.ui
  src/dls_pmaccontrol/motor.py
  src/dls_pmaccontrol/ui_formControl.py
Due: black, flake8

Correct typo on Axis Settings screens (see ticket CGP-232)
  src/dls_pmaccontrol/formAxisSettings.ui
  src/dls_pmaccontrol/formPpmacAxisSettings.ui
  src/dls_pmaccontrol/ui_formAxisSettings.py
  src/dls_pmaccontrol/ui_formPpmacAxisSettings.py
Due: black, flake8

The ?PVF check applies for all configured axes, but amplifier status checks only apply to the 8 axes of a brick. Use padding requests so that all request chunks have the same length
  src/dls_pmaccontrol/commsThread.py
Due: black, flake8

Add zeroes as padding to the reponses to ensure the special requests are the same chunk size as axis requests
  src/dls_pmaccontrol/commsThread.py
Due: black, flake8

Add brick status indicators to main GUI (see ticket BC-1450)
  src/dls_pmaccontrol/formControl.ui
  src/dls_pmaccontrol/ui_formControl.py
Due: black, flake8

Add flags for brick status. All responses are now the same length (see ticket BC-1450)
  src/dls_pmaccontrol/motor.py
Due: black, flake8

Remove incorrect implementation of amplifier status check for Turbo PMAC (see ticket BC-1450)
  src/dls_pmaccontrol/commsThread.py
  src/dls_pmaccontrol/motor.py
Due: black, flake8

Auto formatting of imports by vscode extensions
  src/dls_pmaccontrol/commsThread.py
  src/dls_pmaccontrol/motor.py
Due: black, flake8

Remove redundant 7 segment status from CS status screen and associated code (see ticket BC-1450)
  src/dls_pmaccontrol/CSstatus.py
  src/dls_pmaccontrol/formCSStatus.ui
  src/dls_pmaccontrol/ui_formCSStatus.py
Due: black, flake8

setup.cfg: Try using pyqt5 == 5.12.2 instead of 5.12.2+dls1
  setup.cfg
Due: lockfile

Add working launch.json
  .vscode/launch.json
Due: none

Use p99 as padding variable which should always return zero (see ticket BC-1450)
  src/dls_pmaccontrol/commsThread.py
Due: black, flake8

fix docs
  docs/conf.py
  docs/explanations.rst
  docs/explanations/decisions.rst
  docs/explanations/decisions/0001-record-architecture-decisions.rst
  docs/how-to.rst
  docs/how-to/gather.rst
  docs/how-to/gui.rst
  docs/how-to/gui_images/amber-hi-lim.png
  docs/how-to/gui_images/annotated-gui-main.png
  docs/how-to/gui_images/connected.png
  docs/how-to/gui_images/connection-error.png
  docs/how-to/gui_images/data-gather-config.png
  docs/how-to/gui_images/data-gather.png
  docs/how-to/gui_images/login.png
  docs/how-to/gui_images/main-window-startup.png
  docs/how-to/gui_images/main.png
  docs/how-to/gui_images/plot-data-gather.png
  docs/how-to/gui_images/pmac-axis-settings.png
  docs/how-to/gui_images/pmac-axis-settings2.png
  docs/how-to/gui_images/pmac-connected.png
  docs/how-to/gui_images/pmac-cs-status.png
  docs/how-to/gui_images/pmac-global-status.png
  docs/how-to/gui_images/pmac-status.png
  docs/how-to/gui_images/power-pmac-axis-settings.png
  docs/how-to/gui_images/power-pmac-connected.png
  docs/how-to/gui_images/power-pmac-cs-status.png
  docs/how-to/gui_images/power-pmac-global-status.png
  docs/how-to/gui_images/power-pmac-status.png
  docs/how-to/gui_images/red-hi-lim.png
  docs/how-to/gui_images/refused-connection.png
  docs/how-to/gui_images/watch-window-edit.png
  docs/how-to/gui_images/watch-window.png
  docs/how-to/watches.rst
  docs/index.rst
  docs/installation.rst
  docs/introduction.rst
  docs/reference.rst
  docs/tutorials.rst
  docs/tutorials/installation.rst
Due: black, flake8

rename dls_pmaccontrol to dls_pmac_control
  Makefile
  README.md
  documentation/config.cfg
  documentation/manual.src
  pyproject.toml
  src/dls_pmac_control/CSstatus.py
  src/dls_pmac_control/GlobalStatus.py
  src/dls_pmac_control/__main__.py
  src/dls_pmac_control/axissettings.py
  src/dls_pmac_control/energise.py
  src/dls_pmac_control/gather.py
  src/dls_pmac_control/login.py
  src/dls_pmac_control/motor.py
  src/dls_pmac_control/ppmacgather.py
  src/dls_pmac_control/status.py
  src/dls_pmac_control/ui_formAxisSettings.py
  src/dls_pmac_control/ui_formCSStatus.py
  src/dls_pmac_control/ui_formControl.py
  src/dls_pmac_control/ui_formEnergise.py
  src/dls_pmac_control/ui_formGather.py
  src/dls_pmac_control/ui_formGlobalStatus.py
  src/dls_pmac_control/ui_formLogin.py
  src/dls_pmac_control/ui_formPpmacAxisSettings.py
  src/dls_pmac_control/ui_formPpmacCSStatus.py
  src/dls_pmac_control/ui_formStatus.py
  src/dls_pmac_control/ui_formWatches.py
  src/dls_pmac_control/watches.py
  tests/test_axissettings.py
  tests/test_commsthread.py
  tests/test_csstatus.py
  tests/test_dls_pmaccontrol.py
  tests/test_energise.py
  tests/test_gather.py
  tests/test_gatherchannel.py
  tests/test_globalstatus.py
  tests/test_login.py
  tests/test_motor.py
  tests/test_status.py
  tests/test_watches.py
Due: black, flake8

fix tests
  .devcontainer.json
  Dockerfile
  RELEASE.txt
  pyproject.toml
  src/dls_pmac_control/watches.py
  tests/test_motor.py
Due: black, flake8

safe ruff fixes
  docs/conf.py
  pyproject.toml
  src/dls_pmac_control/CSstatus.py
  src/dls_pmac_control/GlobalStatus.py
  src/dls_pmac_control/axissettings.py
  src/dls_pmac_control/commsThread.py
  src/dls_pmac_control/energise.py
  src/dls_pmac_control/login.py
  src/dls_pmac_control/motor.py
  src/dls_pmac_control/status.py
  src/dls_pmac_control/ui_formAxisSettings.py
  src/dls_pmac_control/ui_formCSStatus.py
  src/dls_pmac_control/ui_formControl.py
  src/dls_pmac_control/ui_formEnergise.py
  src/dls_pmac_control/ui_formGather.py
  src/dls_pmac_control/ui_formGlobalStatus.py
  src/dls_pmac_control/ui_formLogin.py
  src/dls_pmac_control/ui_formPpmacAxisSettings.py
  src/dls_pmac_control/ui_formPpmacCSStatus.py
  src/dls_pmac_control/ui_formStatus.py
  src/dls_pmac_control/ui_formWatches.py
  src/dls_pmac_control/watches.py
  tests/test_axissettings.py
  tests/test_commsthread.py
  tests/test_csstatus.py
  tests/test_energise.py
  tests/test_gather.py
  tests/test_gatherchannel.py
  tests/test_globalstatus.py
  tests/test_login.py
  tests/test_motor.py
  tests/test_status.py
  tests/test_watches.py
Due: black, flake8

ruff unsafe fixes
  .github/pages/make_switcher.py
  src/dls_pmac_control/CSstatus.py
  src/dls_pmac_control/axissettings.py
  src/dls_pmac_control/commsThread.py
  src/dls_pmac_control/energise.py
  src/dls_pmac_control/gather.py
  src/dls_pmac_control/motor.py
  src/dls_pmac_control/ppmacgather.py
  src/dls_pmac_control/watches.py
Due: black, flake8

manual ruff fixes
  src/dls_pmac_control/gather.py
  src/dls_pmac_control/motor.py
  src/dls_pmac_control/watches.py
Due: black, flake8

ruff formatting
  src/dls_pmac_control/CSstatus.py
  src/dls_pmac_control/axissettings.py
  src/dls_pmac_control/commsThread.py
  src/dls_pmac_control/energise.py
  src/dls_pmac_control/gatherchannel.py
  src/dls_pmac_control/status.py
  src/dls_pmac_control/ui_formAxisSettings.py
  src/dls_pmac_control/ui_formCSStatus.py
  src/dls_pmac_control/ui_formControl.py
  src/dls_pmac_control/ui_formEnergise.py
  src/dls_pmac_control/ui_formGather.py
  src/dls_pmac_control/ui_formGlobalStatus.py
  src/dls_pmac_control/ui_formLogin.py
  src/dls_pmac_control/ui_formPpmacAxisSettings.py
  src/dls_pmac_control/ui_formPpmacCSStatus.py
  src/dls_pmac_control/ui_formStatus.py
  src/dls_pmac_control/ui_formWatches.py
Due: black, flake8

disable pyright because of QT5
  pyproject.toml
  src/dls_pmac_control/watches.py
Due: black, flake8

move motor to __main__
  pyproject.toml
  src/dls_pmac_control/__main__.py
  src/dls_pmac_control/motor.py
  src/dls_pmac_control/re
  src/dls_pmac_control/signal
  src/dls_pmac_control/sys
  src/dls_pmac_control/types
  tests/test_motor.py
Due: black, flake8

fix issues with QT_QPA_PLATFORM
  .devcontainer/Dockerfile
  .github/workflows/_test.yml
  Dockerfile
  pyproject.toml
Due: none

add QT_QPA_PLATFORM to tests
  .github/workflows/_test.yml
  Dockerfile
Due: none

fix Dockerfile runtime
  .dockerignore
  .github/workflows/_test.yml
  Dockerfile
Due: none

fix pypi trusted publishing
  .github/workflows/_pypi.yml
Due: none

set XDG_RUNTIME_DIR in runtime container
  Dockerfile
Due: none

remove redundant TOKEN ref
  .github/workflows/ci.yml
Due: none

deploy: 1c6b7ff082aeffb2c7a98cb00d22e336ab2b42a6
  3.2.0b1/.doctrees/reference/api.doctree
Due: none

update to copier template 1.3.0
  .copier-answers.yml
  .github/CONTRIBUTING.md
  .github/workflows/_test.yml
  .github/workflows/ci.yml
  docs/conf.py
  docs/explanations/decisions.md
  docs/explanations/decisions/COPYME
  docs/how-to/run-container.md
  docs/reference.md
  pyproject.toml
Due: black, flake8
