Repository DiamondLightSource/dls-pmac-control: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, flake8, lockfile

black:
  name: Run black
  stages:
  - commit
  language: system
  entry: black --check --diff

flake8:
  name: Run flake8
  stages:
  - commit
  language: system
  entry: flake8

lockfile:
  name: Create requirements.txt
  stages:
  - commit
  language: system
  entry: sh -c 'pip freeze > requirements.txt && sed -i /.*dls_pmaccontrol.*/d requirements.txt && if [ "$(git diff requirements.txt)" ] ; then echo WARNING requirements.txt UPDATED.; fi'
  verbose: true

deploy: 79c803a508d4218dd63c7a138a25fa85496d175b
  v3.0.1/.doctrees/environment.pickle
Due: none

use entrypoint
  .devcontainer/Dockerfile
Due: none

Updating dls_pmaclib dependency version.
  Pipfile
  Pipfile.lock
Due: none

Updating dependency on new dls_pmaclib release.
  Pipfile.lock
Due: none

Adding check on array index before calling it.
  dls_pmaccontrol/axissettings.py
Due: black, flake8

fix pypi links
  .gitignore
  .vscode/settings.json
  README.rst
Due: none

deploy: fea9b11eb76aacd5ac68f980b7baba5b4523ae46
  master/.buildinfo
  master/.doctrees/environment.pickle
  master/_static/documentation_options.js
  master/explanations.html
  master/explanations/why-is-something-so.html
  master/gather.html
  master/genindex.html
  master/gui.html
  master/how-to.html
  master/how-to/accomplish-a-task.html
  master/index.html
  master/installation.html
  master/introduction.html
  master/reference.html
  master/reference/contributing.html
  master/search.html
  master/tutorials.html
  master/tutorials/installation.html
  master/watches.html
Due: none

fix CI links
  README.rst
Due: none

deploy: 3046ba8a5c300798f4f52cc9be4aac4282a7ec54
  master/.buildinfo
  master/.doctrees/environment.pickle
  master/_static/documentation_options.js
  master/explanations.html
  master/explanations/why-is-something-so.html
  master/gather.html
  master/genindex.html
  master/gui.html
  master/how-to.html
  master/how-to/accomplish-a-task.html
  master/index.html
  master/installation.html
  master/introduction.html
  master/reference.html
  master/reference/contributing.html
  master/search.html
  master/tutorials.html
  master/tutorials/installation.html
  master/watches.html
Due: none

Pipfile
  Pipfile
Due: none

make pip based project build in pipenv
  Pipfile.lock
  setup.cfg
  setup.py
Due: black, flake8, lockfile

update lockfile
  Pipfile.lock
Due: none

deploy: 98a1b39e53e94ad5703cbf1c9bdd24254544a56c
  master/.buildinfo
  master/.doctrees/environment.pickle
  master/_static/documentation_options.js
  master/explanations.html
  master/explanations/why-is-something-so.html
  master/gather.html
  master/genindex.html
  master/gui.html
  master/how-to.html
  master/how-to/accomplish-a-task.html
  master/index.html
  master/installation.html
  master/introduction.html
  master/reference.html
  master/reference/contributing.html
  master/search.html
  master/tutorials.html
  master/tutorials/installation.html
  master/watches.html
Due: none

fix flake8
  setup.py
Due: black, flake8, lockfile

restore scripts to Pipfile
  Pipfile
Due: none

deploy: ef4cd98e93702d569bd5230144c485080e839a29
  master/.buildinfo
  master/.doctrees/environment.pickle
  master/_static/documentation_options.js
  master/explanations.html
  master/explanations/why-is-something-so.html
  master/gather.html
  master/genindex.html
  master/gui.html
  master/how-to.html
  master/how-to/accomplish-a-task.html
  master/index.html
  master/installation.html
  master/introduction.html
  master/reference.html
  master/reference/contributing.html
  master/search.html
  master/tutorials.html
  master/tutorials/installation.html
  master/watches.html
Due: none

Rename python3-pip-skeleton -> dls-pmac-control
  CONTRIBUTING.rst
  Dockerfile
  README.rst
  docs/conf.py
  docs/reference.rst
  docs/reference/api.rst
  docs/tutorials/installation.rst
  pyproject.toml
  setup.cfg
  src/dls_pmaccontrol/__init__.py
  src/dls_pmaccontrol/__main__.py
  tests/test_dls_pmaccontrol.py
Due: black, flake8, lockfile

fix Dockerfile
  Dockerfile
Due: none

deploy: 71769687c87274dcde0bfb13a8cebc1ef31f285c
  master/.buildinfo
  master/.doctrees/environment.pickle
  master/.doctrees/explanations.doctree
  master/.doctrees/explanations/decisions.doctree
  master/.doctrees/explanations/decisions/0001-record-architecture-decisions.doctree
  master/.doctrees/how-to.doctree
  master/.doctrees/how-to/contributing.doctree
  master/.doctrees/reference.doctree
  master/.doctrees/tutorials/installation.doctree
  master/_sources/explanations.rst.txt
  master/_sources/explanations/decisions.rst.txt
  master/_sources/explanations/decisions/0001-record-architecture-decisions.rst.txt
  master/_sources/how-to.rst.txt
  master/_sources/how-to/contributing.rst.txt
  master/_sources/reference.rst.txt
  master/_sources/tutorials/installation.rst.txt
  master/_static/documentation_options.js
  master/explanations.html
  master/explanations/decisions.html
  master/explanations/decisions/0001-record-architecture-decisions.html
  master/gather.html
  master/genindex.html
  master/gui.html
  master/how-to.html
  master/how-to/contributing.html
  master/index.html
  master/installation.html
  master/introduction.html
  master/objects.inv
  master/reference.html
  master/search.html
  master/searchindex.js
  master/tutorials.html
  master/watches.html
Due: none

fix DockerFile after merge
  Dockerfile
Due: none

deploy: 013f3291edbd450204aab6141d881191969da51e
  master/.buildinfo
  master/.doctrees/environment.pickle
  master/_static/documentation_options.js
  master/explanations.html
  master/explanations/decisions.html
  master/explanations/decisions/0001-record-architecture-decisions.html
  master/gather.html
  master/genindex.html
  master/gui.html
  master/how-to.html
  master/how-to/contributing.html
  master/index.html
  master/installation.html
  master/introduction.html
  master/reference.html
  master/search.html
  master/tutorials.html
  master/tutorials/installation.html
  master/watches.html
Due: none

Replaced dls-controls with DiamondLightSource
  CONTRIBUTING.rst
  README.rst
  docs/reference.rst
  docs/tutorials/installation.rst
  setup.cfg
Due: lockfile

fix flake8 issue
  setup.cfg
Due: lockfile

deploy: 1638b3fa242fdc973ccc334a8ad370aaa7461842
  master/.buildinfo
  master/.doctrees/environment.pickle
  master/_static/css/badge_only.css
  master/_static/css/theme.css
  master/_static/doctools.js
  master/_static/documentation_options.js
  master/_static/searchtools.js
  master/_static/sphinx_highlight.js
  master/explanations.html
  master/explanations/decisions.html
  master/explanations/decisions/0001-record-architecture-decisions.html
  master/gather.html
  master/genindex.html
  master/gui.html
  master/how-to.html
  master/how-to/contributing.html
  master/index.html
  master/installation.html
  master/introduction.html
  master/reference.html
  master/search.html
  master/searchindex.js
  master/tutorials.html
  master/tutorials/installation.html
  master/watches.html
Due: none

deploy: a1eddfa236e67da8f04bc9deeb3e86ec645aa3ff
  master/.buildinfo
  master/.doctrees/environment.pickle
  master/.doctrees/how-to/contributing.doctree
  master/.doctrees/reference.doctree
  master/.doctrees/tutorials/installation.doctree
  master/_sources/reference.rst.txt
  master/_sources/tutorials/installation.rst.txt
  master/_static/documentation_options.js
  master/explanations.html
  master/explanations/decisions.html
  master/explanations/decisions/0001-record-architecture-decisions.html
  master/gather.html
  master/genindex.html
  master/gui.html
  master/how-to.html
  master/how-to/contributing.html
  master/index.html
  master/installation.html
  master/introduction.html
  master/reference.html
  master/search.html
  master/searchindex.js
  master/tutorials.html
  master/tutorials/installation.html
  master/watches.html
Due: none

pin to avoid broken PyQt5
  setup.cfg
Due: lockfile

deploy: 8dfd1a140ad3da4b3965d0d9343e6ec587b5a6a4
  master/.buildinfo
  master/.doctrees/environment.pickle
  master/_static/documentation_options.js
  master/explanations.html
  master/explanations/decisions.html
  master/explanations/decisions/0001-record-architecture-decisions.html
  master/gather.html
  master/genindex.html
  master/gui.html
  master/how-to.html
  master/how-to/contributing.html
  master/index.html
  master/installation.html
  master/introduction.html
  master/reference.html
  master/search.html
  master/tutorials.html
  master/tutorials/installation.html
  master/watches.html
Due: none

restore pipenv files for DLS releases
  Pipfile
  Pipfile.lock
  setup.cfg
  setup.py
Due: black, flake8, lockfile

restore latest working PyQt5 version
  setup.cfg
Due: lockfile

deploy: 2387a49dc0cdc312c2d6d86ff8821aec7d1dcdfc
  master/.buildinfo
  master/.doctrees/environment.pickle
  master/_static/documentation_options.js
  master/explanations.html
  master/explanations/decisions.html
  master/explanations/decisions/0001-record-architecture-decisions.html
  master/gather.html
  master/genindex.html
  master/gui.html
  master/how-to.html
  master/how-to/contributing.html
  master/index.html
  master/installation.html
  master/introduction.html
  master/reference.html
  master/search.html
  master/tutorials.html
  master/tutorials/installation.html
  master/watches.html
Due: none

fix importlib issue
  Pipfile.lock
  setup.cfg
Due: lockfile

deploy: 0c758c092eb94a72215dd3c47bf534c6630d5ff7
  master/.buildinfo
  master/.doctrees/environment.pickle
  master/_static/documentation_options.js
  master/explanations.html
  master/explanations/decisions.html
  master/explanations/decisions/0001-record-architecture-decisions.html
  master/gather.html
  master/genindex.html
  master/gui.html
  master/how-to.html
  master/how-to/contributing.html
  master/index.html
  master/installation.html
  master/introduction.html
  master/objects.inv
  master/reference.html
  master/search.html
  master/tutorials.html
  master/tutorials/installation.html
  master/watches.html
Due: none

deploy: 0c758c092eb94a72215dd3c47bf534c6630d5ff7
  v3.1.0/.doctrees/environment.pickle
Due: none

Path conditions:
  black: any of: \.py$
  flake8: any of: \.py$
  lockfile: any of: setup.*
